body {
    font-family: "Pragati Narrow", serif;
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(135deg, #b5b5b5, #ffffff, #b5b5b5);
}

h1 {
    font-family: 'Licorice', cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 60pt;
    letter-spacing: 5px;
    color: grey;
}


.bildericon {
    width: 250pt;
    /* feste Ausgangsgröße */
    aspect-ratio: 3 / 2;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    transition: transform 0.6s ease;
    border-radius: 10px;
}

.bildericon:hover {
    transform: scale(1.2);
    z-index: 10;
}

.ss_image {
    overflow: hidden;
}

.bild {
    width: 90%;
    object-fit: cover;
    display: block;
    margin: 0;
    padding: 0;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5pt;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    align-content: center;
    gap: 15pt;
}

.image-grid-Vier-Bilder {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5pt;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    align-content: center;
    gap: 1pt;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Modal-button {
    width: 100%;
    max-width: 1000px;
    height: auto;
    aspect-ratio: 2 / 2;
    border: 0px solid;
    background-image: var(--background-image);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    font-size: 2.5vw;
    font-weight: bold;
    cursor: pointer;
    opacity: 0.8;
    margin: 0 auto;
    transition: all 0.9s ease;
}

.Modal-button:hover {
    color: grey;
    transform: scale(1.2);
}

.hidden-text {
    opacity: 0;
    font-size: 16pt;
    transition: opacity 0.3s ease-in-out;
}

.Modal-button:hover .hidden-text {
    opacity: 1;
}

.Modal-button:hover .ss_buttontext {
    background-color: #ffffff97;
}

.ss_buttontext {
    background-color: #ffffff46;
    margin-left: 10pt;
    margin-right: 10pt;
}

.footer {
    color: black;
    text-align: center;
    padding: 0px 0;
    margin-top: 20px;
    margin-bottom: 20px;
    height: auto;
    bottom: -30px;
    left: 0;
    right: 0;
    border-radius: 0px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*background-image: linear-gradient(to right, #084D0F, #013506);*/
    background-image: linear-gradient(to right, #ffffff, #ffffff);
}

/**.u1 {
    font-family: "Pragati Narrow", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36pt;
    color: rgb(11, 11, 91);
    font-weight: 500;
}*/

.txt1 {
    font-size: 18pt;
}

#btn_datenschutz {
    background-color: transparent;
    color: #000000;
    border: 0px solid #ffffff;
    border-radius: 20px;
    padding: 8px;
    font-size: 10pt;
    margin-bottom: 5px;
}

.ss_btn_contact {
    width: 180px;
    height: 55px;
    background-color: transparent;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 8px;
    font-size: 14pt;
    margin-bottom: 5px;
}

.ss_btn_contact:hover {
    background-color: grey;
    color: white;
    border: 1px solid grey;
}

#btn_datenschutz:hover {
    background-color: #ffffff;
    color: #9dc249;
}

.ss_buttonausrichtung {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right;
}

.ss_copyright {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    text-align: left;
    font-size: 7pt;
}

.ss_impressum {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    font-size: 10pt;
}

.ss_impressum strong {
    font-family: 'Licorice', cursive;
    font-size: 16pt;
}

.ss_contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Das Modal (es ist standardmäßig ausgeblendet) */
.cookie-modal {
    display: none;
    /* Versteckt das Modal standardmäßig */
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Transparenter Hintergrund */
}

/* Das Modal-Inhalt */
.cookie-modal-content {
    background-color: white;
    padding: 20px;
    margin: 15% auto;
    border-radius: 5px;
    width: 80%;
    max-width: 400px;
    text-align: center;
    position: relative;
}

.cookie-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 5px;
    display: inline-block;
    font-size: 16px;
}

.cookie-button:hover {
    background-color: #45a049;
}

#decline-cookies {
    background-color: #f44336;
    /* Rote Farbe für Ablehnen */
}

#decline-cookies:hover {
    background-color: #e53935;
}


@media screen and (max-width: 1500px) {

    .image-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    h1 {
        font-size: 36pt;
    }

}


@media screen and (max-width: 1085px) {

    .image-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    h1 {
        font-size: 36pt;
    }

}

@media screen and (max-width: 730px) {

    .image-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .Modal-button {
        font-size: 8vw;
    }

    .ss_buttonausrichtung {
        justify-content: center;
        text-align: center;
    }

    .ss_copyright {
        justify-content: center;
        text-align: center;
    }

    h1 {
        font-size: 24pt;
    }

    .u1 {
        font-size: 24pt;
    }

    .txt1 {
        font-size: 14pt;
    }
}