/* Masonry Container */
.masonry-gallery {
    column-count: 3;
    column-gap: 15px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Bilder */
.masonry-gallery img {
    width: 100%;
    display: block;
    margin-bottom: 15px;
    border-radius: 10px;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    object-fit: cover;
    cursor: pointer;
}

/* Hover Effekt */
.masonry-gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

/* Responsive */
@media (max-width: 1200px) {
    .masonry-gallery {
        column-count: 3;
    }
}

@media (max-width: 768px) {
    .masonry-gallery {
        column-count: 2;
    }
}

@media (max-width: 480px) {
    .masonry-gallery {
        column-count: 1;
    }
}

/* Modal */
#imageModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

#imageModal img {
    display: block;
    margin: auto;
    max-width: 90%;
    max-height: 90%;
}

#imageModal span {
    position: absolute;
    top: 10px;
    right: 20px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.portfolio-ueb {
    font-size: 10rem;
    font-family: 'Licorice', cursive;
    color: grey;
    margin: 0 auto;
    max-width: 1200px;
}