.bildericon {
    width: 100%;
    max-width: 100pt;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    display: block;
    margin: 0;
    padding: 0;
    /*    filter: blur(1px);*/
}

.bild {
    width: 90%;
    object-fit: cover;
    display: block;
    margin: 0;
    padding: 0;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 5pt;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    align-content: center;
    gap: 1pt;
}

.image-grid-Vier-Bilder {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5pt;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    align-content: center;
    gap: 1pt;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Modal-button {
    width: 100%;
    max-width: 400px;
    height: auto;
    aspect-ratio: 3 / 2;
    border: 10px solid;
    border-color: rgb(8, 77, 15);
    background-image: var(--background-image);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    font-size: 2vw;
    font-weight: bold;
    cursor: pointer;
    opacity: 0.8;
    margin: 0 auto;
    transition: all 0.3s ease;
}

.Modal-button:hover {
    color: rgb(8, 77, 15);
    background-size: 120%;
    transition: none;
}


.footer {
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 50px;
    bottom: -30px;
    left: 0;
    right: 0;
    border-radius: 12px;
    width: 96%;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: linear-gradient(to right, #084D0F, #013506);
}

.u1 {
    font-size: 24pt;
    color: rgb(11, 11, 91);
    font-weight: 500;
}

.txt1 {
    font-size: 18pt;
}

@media screen and (max-width: 768px) {

    .image-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 480px) {

    .image-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .Modal-button {
        font-size: 5vw;
    }
}