body {
    font-family: "Pragati Narrow", serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: "Pragati Narrow", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 48pt;
    letter-spacing: 5px;
    color: #084D0F;
}


.bildericon {
    width: 100%;
    max-width: 200pt;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    display: block;
    margin: 0;
    padding: 0;
    transition: all 0.9s ease;
}

.bildericon:hover {
    transform: scale(1.2);
}

.ss_image {
    overflow: hidden;
}

.bild {
    width: 90%;
    object-fit: cover;
    display: block;
    margin: 0;
    padding: 0;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5pt;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    align-content: center;
    gap: 1pt;
}

.image-grid-Vier-Bilder {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5pt;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    align-content: center;
    gap: 1pt;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Modal-button {
    width: 100%;
    max-width: 1000px;
    height: auto;
    aspect-ratio: 2 / 2;
    border: 0px solid;
    background-image: var(--background-image);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    font-size: 2.5vw;
    font-weight: bold;
    cursor: pointer;
    opacity: 0.8;
    margin: 0 auto;
    transition: all 0.9s ease;
}

.Modal-button:hover {
    color: #084D0F;
    transform: scale(1.2);
}

.hidden-text {
    opacity: 0;
    font-size: 16pt;
    transition: opacity 0.3s ease-in-out;
}

.Modal-button:hover .hidden-text {
    opacity: 1;
}

.Modal-button:hover .ss_buttontext {
    background-color: #ffffff97;
}

.ss_buttontext {
    background-color: #ffffff46;
    margin-left: 10pt;
    margin-right: 10pt;
}

.footer {
    color: white;
    text-align: center;
    padding: 0px 0;
    margin-top: 20px;
    margin-bottom: 20px;
    height: auto;
    bottom: -30px;
    left: 0;
    right: 0;
    border-radius: 12px;
    width: 96%;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: linear-gradient(to right, #084D0F, #013506);
}

/**.u1 {
    font-family: "Pragati Narrow", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36pt;
    color: rgb(11, 11, 91);
    font-weight: 500;
}*/

.txt1 {
    font-size: 18pt;
}

#btn_datenschutz {
    background-color: transparent;
    color: #ffffff;
    border: 0px solid #ffffff;
    border-radius: 20px;
    padding: 8px;
    font-size: 10pt;
    margin-bottom: 5px;
}

.ss_btn_contact {
    width: 180px;
    height: 55px;
    background-color: transparent;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 8px;
    font-size: 14pt;
    margin-bottom: 5px;
}

.ss_btn_contact:hover {
    background-color: #084D0F;
    color: white;
    border: 1px solid #084D0F;
}

#btn_datenschutz:hover {
    background-color: #ffffff;
    color: #9dc249;
}

.ss_buttonausrichtung {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right;
}

.ss_copyright {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    text-align: left;
    font-size: 7pt;
}

.ss_impressum {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    font-size: 10pt;
}

.ss_contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {

    .image-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    h1 {
        font-size: 36pt;
    }

}

@media screen and (max-width: 480px) {

    .image-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .Modal-button {
        font-size: 5vw;
    }

    .ss_buttonausrichtung {
        justify-content: center;
        text-align: center;
    }

    .ss_copyright {
        justify-content: center;
        text-align: center;
    }

    h1 {
        font-size: 24pt;
    }

    .u1 {
        font-size: 24pt;
    }

    .txt1 {
        font-size: 14pt;
    }
}