.step {
    display: none;
    /* Fragen sind initial versteckt */
}

.tooltip_span {
    text-decoration: underline;
}

.content_style {
    display: flex;
    gap: 20px;
    vertical-align: top;
}

@media screen and (max-width: 880px) {
    .content_style {
        display: grid;
    }
}