.ptf_bild {
    width: 100%;
    height: auto;
    transition: all 0.9s ease;
    cursor: pointer;
}

.ptf_bild:hover {
    transform: scale(1.2);
}

.ptf_image {
    overflow: hidden;
}

.pft-imagecontainer {
    margin-left: 200px;
    margin-right: 200px;
}

h1 {
    font-size: 5vw;
    color: #084D0F;
}


@media screen and (max-width: 1330px) {

    .pft-imagecontainer {
        margin-left: 50px;
        margin-right: 50px;
    }
}


@media screen and (max-width: 880px) {

    .pft-imagecontainer {
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media screen and (max-width: 480px) {

    .pft-imagecontainer {
        margin-left: 0px;
        margin-right: 0px;
    }
}