.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin-left: 10pt;
    margin-right: 10pt;
    /*grid-auto-rows: minmax(50pt, 100pt);*/
}

.item {
    background-color: #f2f2f2;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
    width: auto;
    max-width: 100%;
}

.cell-1 {
    grid-column: span 2;
}

.cell-2 {
    grid-column: span 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr 1fr !important;
        display: grid;
        gap: 16px;
        margin-left: 10pt;
        margin-right: 10pt;
        /*grid-auto-rows: minmax(50pt, 100pt);*/
    }
}

@media screen and (max-width: 480px) {
    .grid-container {
        grid-template-columns: 1fr !important;
        display: grid;
        gap: 16px;
        margin-left: 10pt;
        margin-right: 10pt;
    }
}