.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    padding: 20px;
    /*grid-auto-rows: minmax(50pt, 100pt);*/
}

.grid-container-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 0px;
    padding: 0px;
    /*grid-auto-rows: minmax(50pt, 100pt);*/
}

.item {
    padding: 10px;
    border: 0px solid #f1f1f1;
    text-align: center;
    width: auto;
    max-width: 100%;
}

.empty-item {
    display: none;
}

.cell-1 {
    grid-column: span 2;
}

.cell-2 {
    grid-column: span 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell-3 {
    grid-row: span 2;
}

/* Header Image */
.header-image {
    width: 100%;
    height: 100%;
    /* Bildhöhe */
    overflow: hidden;
}

.header-image img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: 0% 63%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    /* Bild wird so skaliert, dass es den Bereich ausfüllt */
}

/* Navbar */
.style_layout_navbar {
    font-family: "Pragati Narrow", serif;
    font-weight: 400;
    font-style: normal;
    z-index: 1;
    color: black;
    text-align: center;
    padding: 0px 0;
    bottom: 0px;
    left: 0;
    right: 0;
    border-radius: 2px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.style_layout_nav {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-image: linear-gradient(to right, #ffffff, #ffffff);
}

/* Optional: Sicherstellen, dass die Textfarbe der Navbar gut lesbar ist */
.style_layout_navbar .navbar-brand,
.style_layout_navbar .nav-link {
    color: black !important;
}

/* Optional: Text und Links mit Schatten versehen, um sie besser sichtbar zu machen */
.style_layout_navbar .navbar-brand,
.style_layout_navbar .nav-link {
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler {
    border: 1px solid white;
}

.item {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.item.show {
    opacity: 1;
    transform: translateY(0);
}


@media screen and (max-width: 1330px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr !important;
        grid-template-rows: auto;
        gap: 20px;
        padding: 10px;
    }

    .cell-1 {
        grid-column: span 1;
    }

    .cell-2 {
        grid-column: span 2;
    }

    .empty-item {
        display: block;
    }
}


@media screen and (max-width: 880px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr !important;
        grid-template-rows: auto;
        gap: 5px;
        padding: 2px;
    }

    .cell-1 {
        grid-column: span 1;
    }

    .cell-2 {
        grid-column: span 2;
    }

    /* Navbar */
    .style_layout_navbar {
        width: 100%;
        box-sizing: border-box;
    }

    .empty-item {
        display: block;
    }
}

@media screen and (max-width: 480px) {
    .grid-container {
        grid-template-columns: 1fr !important;
        display: grid;
        gap: 16px;
        margin-left: 10pt;
        margin-right: 10pt;
    }

    .cell-1 {
        grid-column: span 1;
    }

    .cell-2 {
        grid-column: span 1;
    }

    .empty-item {
        display: none;
    }

    .grid-container-footer {
        display: grid;
        grid-template-columns: 1fr !important;
        gap: 0px;
        padding: 0px;
        /*grid-auto-rows: minmax(50pt, 100pt);*/
    }
}