.uem_bild {
    width: 30%;
    height: auto;
}

.uem_ContactForm {
    text-align: left;
    width: 100%;
}

.uem_Text {
    text-align: left;
    font-size: 20pt;
}

.uem_contactdata {
    grid-column: span 1;
    text-align: left;
    font-size: 1vw;
}

.con_kontaktdaten {
    display: flex;
    text-align: center;
}

.con_image {
    max-width: 100%;
    height: auto;
    width: 50%;
    text-align: right;
    margin-right: 10px;
}

.con_daten {
    text-align: left;
    flex: 1;
}

@media screen and (max-width: 1330px) {

    .pft-imagecontainer {
        margin-left: 50px;
        margin-right: 50px;
    }

    .uem_contactdata {
        grid-column: span 2;
        text-align: center;
        font-size: 18pt;
    }
}